html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1e1e1e;
  color: #d4d4d4;
  font-family: 'Courier New', Courier, monospace;
}

#console {
  box-sizing: border-box;
  border: 1px solid #555;
  height: 100%;
  overflow-y: scroll;
  padding: 20px;
}

#output {
  white-space: pre-wrap;
}

#input-line {
  display: flex;
}

#prompt {
  margin-right: 5px;
}

#input {
  background-color: transparent;
  border: none;
  color: #d4d4d4;
  flex-grow: 1;
  outline: none;
}
